{% extends "base.html" %}
<!-- Bootstrap core CSS -->
{% block sub-title %}Librarians Registered{% endblock %}
{% block content %}

<main role="main" class="container">
    
    <center>
    <table class="table">
        <tr>
            <th><center>Username</center></th>
            <th><center>Email</center></th>
            <th><center>Delete</center></th>
        </tr>
        {% for lib in libs %}
        <tr>
            <td><center>{{lib.user.username}}</center></td>
            <td><center>{{lib.user.email}}</center></td>
            <td><center><a onclick="return confirm('Are you sure you want to delete the record of {{lib.user.username}} from librarians?');" href='/delete_lib/{{lib.pk}}/'>Delete</a></center></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-success" href="/register_lib/">Add Librarian</a>
</center>
</main>
{% endblock %}